<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Product API Test Suite" parallel="false">

    <test name="Product Positive Tests" preserve-order="true">
        <classes>
            <class name="tests.api.ProductTest"/>
        </classes>
    </test>

    <test name="Product Data Provider Tests">
        <classes>
            <class name="tests.api.ProductDataProviderTest"/>
        </classes>
    </test>

    <test name="Product Negative Tests">
        <classes>
            <class name="tests.api.ProductNegativeTest"/>
        </classes>
    </test>

    <test name="Login Page Test">
        <classes>
            <class name="uiTests.LoginTest"/>
        </classes>
    </test>

    <test name="SignUp Page Test">
        <classes>
            <class name="uiTests.SignUpPageTest"/>
        </classes>
    </test>

</suite>